/* Result.css */
.resultContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-image: url('https://c.wallhere.com/photos/60/d0/1920x1200_px_anime_Pixel_Art_Pixels_pokemon_Pok_mon_Trainers-1244675.jpg!d');
    background-size: cover; /* 이미지 크기를 container에 맞게 조정 */
    background-position: top left;
    /* background-position: calc(100% + 70px) top; 오른쪽에서 20px 왼쪽으로 이동 */

  text-align: center;
}

.resultContainer > div {
  margin-bottom: 20px;
}

.pokemonImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

strong {
  font-size: 18px;
  color: #333;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  transition: background-color 0.3s;
}

/* button:hover {
  background-color: #0056b3;
} */

/* button:active {
  background-color: #004080;
} */

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #222;
}


.backButton {
  position: absolute;
  top: 50px;
  left: 10px;
  padding: 5px 10px;
  background: none;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-size: 25px;
}

.typeContainer,
.userContainer {
  margin-top: 20px;
}

.typeContainer button,
.userContainer button {
  margin: 10px 5px;
}

@media (max-width: 768px) {
  .resultContainer {
    padding: 15px;
  }

  h1 {
    font-size: 18px;
  }

  button {
    font-size: 14px;
    padding: 10px 12px;
    max-width: 250px;
  }

  .pokemonImage {
    max-width: 150px;
  }

  strong {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .resultContainer {
    padding: 10px;
  }

  h1 {
    font-size: 16px;
  }

  button {
    font-size: 12px;
    padding: 8px 10px;
    max-width: 200px;
  }


.backbutton {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background: none;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-size: 25px;
}

  .pokemonImage {
    max-width: 120px;
  }

  strong {
    font-size: 14px;
  }
}