.container {
    position: relative; /* 버튼을 container 내에서 위치시키기 위해 상대적 위치 지정 */
}

.backbutton {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background: none;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-size: 25px;
}



.backbutton :hover{
    background-color: #e53935;
}

.line1 {
    border: 1px solid red;

}

.line2 {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .part {
    width: 14.28%; /* 100% ÷ 7 */
    height: 2px;
    background-color: rgb(188, 185, 185);
  }
  
  .red {
    background-color: red;
  }
  

h2, p {
  display: inline-block;
  margin: 0;
}

p {
  margin-left: 10px;
}

.page {
    color: darkgray;
}

h3 {
  margin: 20px 0;
}

.pokemon-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-images img {
  width: auto;
  height: 185px;
  margin-top: 50px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  margin: 50px;
  margin-top: 50px;
  padding: 10px 20px;
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #d32f2f;
}
