  .pokemon-images5 img {
      width: auto;
      height: 340px;
      margin-top: 20px;
  }


  .buttons5 {
      display: flex;
      flex-wrap: wrap;
      /* 행을 여러 줄로 나눔 */
      justify-content: center;
      /* 버튼을 가운데 정렬 */
      gap: 20px;
      /* 버튼 사이 간격 */
      margin-top: 30px;
    margin-bottom: 30px;

  }

  .button5 {
      flex: 1 1 calc(33.333% - 20px);
      /* 각 버튼이 한 행의 3분의 1 너비를 차지 */
      max-width: 150px;
      /* 최대 버튼 너비 설정 (필요 시 조정) */
      height: 50px;
      background-color: white;
      color: black;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 20px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s, box-shadow 0.2s;
  }

  .button5:hover {
      transform: scale(1.05);
      box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
      background-color: #e53935;
      color: white;
  }