.pokemon-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 150px;
  text-align: center;
}

.rotating-image {
  width: 100px;
  height: 100px;
  animation: rotate 2s linear infinite; /* 회전 애니메이션 */
}

.rotating-image:hover {
  animation: bounce 1s infinite;
}



@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* 기본 위치 */
  }
  40% {
    transform: translateY(-30px); /* 위로 튐 */
  }
  60% {
    transform: translateY(-15px); /* 약간 덜 튐 */
  }
}